body{
    background-image:linear-gradient(to right, rgb(178, 107, 118),rgb(98, 98, 165),rgb(178, 151, 101));

}
#equal{
    width: 192px;
}
button{
    width: 94px;
    height: 76px;
    border-radius: 5px;
    background-color: rgb(221, 205, 236);
}
input{
    width:390px;
   padding: 1px;
   margin: 0px 0px;
   border:1px;
   top: 40px;
   height: 60px;
   cursor: pointer;
   font-size: 18px;
   transition: 0.5s;
   background-color: #edfbf7e4;
   border-radius: 6px;
   color: rgb(184, 14, 14);
}
#calculator{
    background-image:linear-gradient(to right, rgb(127, 80, 88), rgb(50, 50, 79));
    width: 400px;
    height: 450px;
    margin: 50px 200px;
    background-color: white;
    border: 5px solid rgb(194, 67, 67);
    border-radius: 6px;
    display:grid;
}
#box-part{
    width:400px;
    height:450px;
    align-content: center;
}
h1{
    margin: 50px 200px 1px;
    font-family: 'Times New Roman', Times, serif ;
    font-weight:bolder;
    color: #000;
}
p{
    margin: 2px 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}